SQLALCHEMY_DATABASE_URI = 'postgresql://postgres:postgres@localhost/postgres'
SECRET_KEY="REPLACE_THIS_WITH_A_SECRET_KEY_USED_BY_FLASK"
SECRET_PASSWORD="THIS_PASSWORD_IS_USED_FOR_ENABLING_REGISTRATION"