<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="jDakUglJEgAKHYouE23b9bIFHCDgbhmwGyKAltHK1Bk" />
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132318681-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-132318681-2');
    </script>
    <link href="https://fonts.googleapis.com/css?family=Dosis:300%7CLato:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block additional_tags %}{% endblock %}
</head>

<body>
    <div class="header">
        <img src="/static/img/mikayla.png" alt="logo">
    </div>
    <div class="nav_bar" id="my_nav_bar">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <div class="fa fa-bars nav-bar-menu-icon"></div>
        </a>
        <a class="nav_bar-link{% if request.path == "/" %} nav_bar-link-active{% endif %}" href="/">Home</a>
        <a class="nav_bar-link{% if request.path == "/blog" %} nav_bar-link-active{% endif %}" href="/blog">Blog</a>
        <!-- <a class="nav_bar-link{% if request.path == "/side_projects" %} nav_bar-link-active{% endif %}" href="/side_projects">Side
            Projects</a> -->
        <a class="nav_bar-link{% if request.path == "/about_me" %} nav_bar-link-active{% endif %}" href="/about_me">About
            Me</a>

        {% if current_user.is_authenticated %}
        <a class="nav_bar-link" href="/control_panel">Control Panel</a>
        <a class="nav_bar-link" href="/logout">Log Out</a>
        {% endif %}
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div style="font-size:11em;color:red">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}

    <section class="footer">
        <footer>
            <div class="icon-links">
                <a class="contact-link" href="https://github.com/MikaylaRobinson" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
                <a class="contact-link" href="https://www.linkedin.com/in/mikaylamrobinson/"><i class="fab fa-linkedin fa-2x"></i></a>
            </div>
        </footer>

    </section>

    {% block custom_styling %} {%endblock %}
</body>

</html>