{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
<section class="blog">
    {% for post in posts.items %}
    <div class="blog-list-item">
        <h4 class="blog-post-title"><a href="/blog/{{post.url_slug}}">{{post.title}}</a></h4>
        <p class="blog-post-date">{{post.date.strftime('%B %d, %Y')}}</p>
        <p class="blog-post-subtitle">{{post.keyword}}</p>
        <p class="blog-post-tools">{{post.tools_used}}</p>
    </div>
    {% endfor %}
    {% if prev_url %}
    <p><a class="blog-listing-page-nav" href="{{ prev_url }}">Newer posts</a></p>
    {% endif %}
    {% if next_url %}
    <p><a class="blog-listing-page-nav" href="{{ next_url }}">Older posts</a></p>
    {% endif %}

    
</section>
{% endblock %}