{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="welcome">
    <div class="about_the_website">
        <div class="introduction_photo" id="photo_intro_container">
        </div>
        <div class="home-about-me">
            <p>Hi, I'm Mikayla!</p>
            <div class="paragraph-divider"></div>
            <p>I'm a biologist turned data analyst - I was a life sciences major in college, who discovered a passion for data analysis. </p>
            <p>Welcome to my site!</p>
        </div>
    </div>
</section>
{% endblock %}