{% extends 'base.html' %}

{% block title %}{{post.url_slug}}{% endblock %}

{% block content %}
<section class="blog">
    <a href="/blog">Back to Posts</a>
    <div class="blog-post">
        <h4 class="blog-post-title"><a href="/blog/{{post.url_slug}}">{{post.title}}</a></h4>
        <p class="blog-post-date">{{post.date.strftime('%m-%d-%Y')}}</p>
        <p class="blog-post-subtitle">{{post.keyword}}</p>
        <p class="blog-post-tools">{{post.tools_used}}</p>
        <p class="blog=post-content">{{post.content|safe}}</p>
    </div>
</section>
{% endblock %}