{% extends 'base.html' %}

{% block title %}Learning Topics{% endblock %}

{% block content %}
<section class="learning_topics">
    <div class="topics-divider"></div>

    <div class="blog_post">
        <div class="post-col">
            <div class="blog_post_photo">
                <img src="../static/img/python-icon.png" alt="Python Logo">
            </div>
        </div>
        <div class="post-col">
            <div class="title_and_description">
                <h1>Python</h1>
                <p>Python 3.x, NumPy, Pandas, Data Visualization + Analysis</p>
                <!-- <a class="read-more-button" href="#story_page">Read More</a> --->
            </div>
        </div>

    </div>
    <div class="topics-divider"></div>
    <div class="blog_post">
        <div class="post-col">
            <div class="blog_post_photo">
                <img src="../static/img/sql-icon.png" alt="SQL Logo">
            </div>
        </div>
        <div class="post-col">
            <div class="title_and_description">
                <h1>SQL</h1>
                <p>MySQL + MySQL WorkBench on Ubuntu 18.04</p>
                <!-- <a class="read-more-button" href="#story_page">Read More</a> --->
            </div>
        </div>
    </div>
    <div class="topics-divider"></div>

    <div class="blog_post">
        <div class="post-col">
            <div class="blog_post_photo">
                <img src="../static/img/tableau-icon.png" alt="Tableau Logo">
            </div>
        </div>
        <div class="post-col">
            <div class="title_and_description">
                <h1>Tableau</h1>
                <p>Data Visualization and BI with Tableau

                </p>
                <!-- <a class="read-more-button" href="#story_page">Read More</a> --->
            </div>
        </div>
    </div>

    <div class="topics-divider"></div>

    <div class="blog_post">
        <div class="post-col">
            <div class="blog_post_photo">
                <img src="../static/img/excel-icon.png" alt="Excel Logo">
            </div>
        </div>
        <div class="post-col">
            <div class="title_and_description">
                <h1>Advanced Excel</h1>
                <p>Pivot Tables, Advanced Formulas, Basic VBA</p>
                <!-- <a class="read-more-button" href="#story_page">Read More</a> --->
            </div>
        </div>
    </div>

    <div class="topics-divider"></div>
</section>
{% endblock %}