<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/Grid.css" />
    <script src="../static/js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK|Open+Sans|Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300|Lato:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="header">
        <img src="../static/img/mikayla.png" alt="logo">
    </div>
    <div class="nav_bar" id="my_nav_bar">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <div class="fa fa-bars nav-bar-menu-icon"></div>
        </a>
        <a class="nav_bar-link" href="index.html">Home</a>
        <a class="nav_bar-link" href="topics.html">Learning Topics</a>
        <a class="nav_bar-link" href="projects.html">Side Projects</a>
        <a class="nav_bar-link" href="about.html">About Me</a>
    </div>
    <section class="about_me">
        <div class="about_me-text-container">
            <div class="about_me-text-box"> Hello stranger. Please look at me on this train platform. <br><br> I LOOOOVE train platforms! Look how happy I am!</div>
        </div>
    </section>
    <section class="block-section personal_photo_grid">
        <div class="photo_grid-col">
            <div class="photo_grid-container" id="photo_grid-container-1">
                <div class="photo_grid-text-wrapper">
                    <div class="photo_grid-text noselect">
                        I co-parent this sweet girl. After moving into our apartment, my partner found her crying,
                        starving, and dirty on the street. After a trip to the vet and countless cans of cat food, she
                        has turned into a happy and healthy cat. She now goes by KitKat and spends her days finding new
                        places to nap around the house.
                    </div>
                </div>
            </div>
        </div>
        <div class="photo_grid-col">
            <div class="photo_grid-container" id="photo_grid-container-2">
                <div class="photo_grid-text-wrapper">
                    <div class="photo_grid-text noselect">
                        My dog, Lillee, has been a dedicated best friend for many years. It was a tough decision, but
                        she stayed back at my parents' house where she has a big yard, dogs to play with, and constant
                        supervision.
                    </div>
                </div>
            </div>
        </div>
        <div class="photo_grid-col">
            <div class="photo_grid-container" id="photo_grid-container-3">
                <div class="photo_grid-text-wrapper">
                    <div class="photo_grid-text noselect">
                        I am a December 2018 graduate of Ohio Wesleyan University. I graduated with a major in Zoology
                        and a minor in Spanish. My major taught me major biological functions while applying the
                        scientific method and practicing laboratory techniques. In undergraduate sciences, the focus is
                        largely on data collection. After learning how to collect quality data, my interest is now
                        learning the tools to analyze it!
                    </div>
                </div>
            </div>
        </div>
        <div class="photo_grid-col">
            <div class="photo_grid-container" id="photo_grid-container-4">
                <div class="photo_grid-text-wrapper">
                    <div class="photo_grid-text noselect">
                        Originally from Ohio, I grew up in a rural, farming community. Most people do not know, but
                        llamas can be useful as guard animals due to their pack instinct and intimidating size.
                        This is Letigo, and he acts as the guard for his "pack" of goats and chickens. He is still
                        in Ohio warding off the occasional coyote,fox, or raccoon.
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>

<!--
    <section class="block-section personal_photo_grid">
        <div class="col span-1-of-4">
            <div class="photo_grid-container" id="photo_grid-container-1">
                <div class="photo_grid-text-wrapper">
                    <div class="photo_grid-text noselect">
                        I co-parent this sweet girl. After moving into our apartment, my partner found her crying,
                        starving, and dirty on the street. After a trip to the vet and countless cans of cat food, she
                        has turned into a happy and healthy cat. She now goes by KitKat and spends her days finding new
                        places to nap around the house.
                    </div>
                </div>
            </div>
        </div>
        <div class="col span-1-of-4">
            <div class="photo_grid-container" id="photo_grid-container-2">
                <div class="photo_grid-text-wrapper">
                    <div class="photo_grid-text noselect">
                        My dog, Lillee, has been a dedicated best friend for many years. It was a tough decision, but
                        she stayed back at my parents' house where she has a big yard, dogs to play with, and constant
                        supervision.
                    </div>
                </div>
            </div>
        </div>
        <div class="col span-1-of-4">
            <div class="photo_grid-container" id="photo_grid-container-3">
                <div class="photo_grid-text-wrapper">
                    <div class="photo_grid-text noselect">
                        I am a December 2018 graduate of Ohio Wesleyan University. I graduated with a major in Zoology
                        and a minor in Spanish. My major taught me major biological functions while applying the
                        scientific method and practicing laboratory techniques. In undergraduate sciences, the focus is
                        largely on data collection. After learning how to collect quality data, my interest is now
                        learning the tools to analyze it!
                    </div>
                </div>
            </div>
        </div>
        <div class="col span-1-of-4">
            <div class="photo_grid-container" id="photo_grid-container-4">
                <div class="photo_grid-text-wrapper">
                    <div class="photo_grid-text noselect">
                        Originally from Ohio, I grew up in a rural, farming community. Most people do not know, but
                        llamas can be useful as guard animals due to their pack instinct and intimidating size.
                        This is Letigo, and he acts as the guard for his "pack" of goats and chickens. He is still
                        in Ohio warding off the occasional coyote,fox, or raccoon.
                    </div>
                </div>
            </div>
        </div>
    </section>


-->