<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/Grid.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK|Open+Sans|Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300|Lato:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="header">
        <img src="../static/img/mikayla.png" alt="logo">
    </div>
    <div class="nav_bar" id="my_nav_bar">
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <div class="fa fa-bars nav-bar-menu-icon"></div>
                </a>
        <a class="nav_bar-link" href="index.html">Home</a>
        <a class="nav_bar-link" href="topics.html">Learning Topics</a>
        <a class="nav_bar-link" href="projects.html">Side Projects</a>
        <a class="nav_bar-link" href="about.html">About Me</a>
    </div>
    <section class="welcome">
        <div class="about_the_website">
            <div class="introduction_photo" id="photo_intro_container">
            </div>
            <div class="home-about-me">
                <p>Hi, I'm Mikayla!</p>
                <div class="paragraph-divider"></div>
                <p>My education was in biology, but my current interest in data and technology. Follow along with
                    me as
                    I expand my skills and tackle new topics. My education was in biology, but my current interest in data and technology. Follow along with
                    me as
                    I expand my skills and tackle new topics.My education was in biology, but my current interest in data and technology. Follow along with
                    me as
                    I expand my skills and tackle new topics.My education was in biology, but my current interest in data and technology. Follow along with
                    me as
                    I expand my skills and tackle new topics.My education was in biology, but my current interest in data and technology. Follow along with
                    me as
                    I expand my skills and tackle new topics. </p>
            </div>
        </div>
    </section>
</body>

</html>