<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/Grid.css" />
    <script src="../static/js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK|Open+Sans|Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300|Lato:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>

<body>
    <div class="header">
        <img src="../static/img/mikayla.png" alt="logo">
    </div>
    <div class="nav_bar" id="my_nav_bar">
        <a class="nav_bar-link" href="index.html">Home</a>
        <a class="nav_bar-link" href="topics.html">Learning Topics</a>
        <a class="nav_bar-link" href="projects.html">Side Projects</a>
        <a class="nav_bar-link" href="about.html">About Me</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <div class="fa fa-bars nav-bar-menu-icon"></div>
        </a>
    </div>
    <section class="columns_of_projects">
        <div class="project-col">
            <div class="project_post first_post">
                <div class="project_post_photo">
                    <img src="../static/img/python_logo.jpg" alt="Python Logo">
                </div>
                <div class="title_and_description">
                    <h1>Generic Python Title</h1>
                    <p>A summary of what content can be expected-similar to a read me.</p>
                </div>
            </div>
        </div>
        <div class="project-col">
            <div class="project_post second_post">
                <div class="project_post_photo">
                    <img src="../static/img/python_logo.jpg" alt="Python Logo">
                </div>
                <div class="title_and_description">
                    <h1>Generic Python Title</h1>
                    <p>A summary of what content can be expected-similar to a read me.</p>
                </div>
            </div>
        </div>
        <div class="project-col">
            <div class="project_post third_post">
                <div class="project_post_photo">
                    <img src="../static/img/python_logo.jpg" alt="Python Logo">
                </div>
                <div class="title_and_description">
                    <h1>Generic Python Title</h1>
                    <p>A summary of what content can be expected-similar to a read me.</p>
                </div>
            </div>
        </div>
        <div class="project-col">
            <div class="project_post fourth_post">
                <div class="project_post_photo">
                    <img src="../static/img/python_logo.jpg" alt="Python Logo">
                </div>
                <div class="title_and_description">
                    <h1>Generic Python Title</h1>
                    <p>A summary of what content can be expected-similar to a read me.</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>