<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/Grid.css" />
    <script src="../static/js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK|Open+Sans|Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300|Lato:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>

<body>
    <div class="header">
        <img src="../static/img/mikayla.png" alt="logo">
    </div>
    <div class="nav_bar" id="my_nav_bar">
        <a class="nav_bar-link" href="index.html">Home</a>
        <a class="nav_bar-link" href="topics.html">Learning Topics</a>
        <a class="nav_bar-link" href="projects.html">Side Projects</a>
        <a class="nav_bar-link" href="about.html">About Me</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <div class="fa fa-bars nav-bar-menu-icon"></div>
        </a>
    </div>
    <section class="learning_topics">
        <div class="col span-1-of-4">
            <div class="expectations">
                <div class="expected_content">
                    <h1>What to expect!</h1>
                    <ul class="list_of_expectations">
                        <li class="list_of_expectations-value">Blog-style approaches to learning objectives</li>
                        <li class="list_of_expectations-value">Varying topics within data and technology</li>
                        <li class="list_of_expectations-value">Series of posts following an in-depth topic</li>
                        <li class="list_of_expectations-value">Notes with explanations and example code</li>
                    </ul>
                </div>
                <div class="other_links">
                    <h1>If you want to check out some of my beginning work, take a look at my <a class="github_link"
                            href="https://github.com/MikaylaRobinson">Github!</a></h1>
                    <h1>If you have something to say, feel free to reach out by email!</h1>
                </div>
            </div>
        </div>
        <div class="col span-3-of-4">
            <div class="blog_post first_post">
                <div class="blog_post_photo">
                    <img src="../static/img/python_logo.jpg" alt="Python Logo">
                </div>
                <div class="title_and_description">
                    <h1>Generic Python Title</h1>
                    <p>A general summary of my learning article about python. This is where I try to capture someone's
                        attention.</p>
                </div>
            </div>
            <div class="blog_post second_post">
                <div class="blog_post_photo">
                    <img src="../static/img/python_logo.jpg" alt="Python Logo">
                </div>
                <div class="title_and_description">
                    <h1>Generic Python Title</h1>
                    <p>A general summary of my learning article about python. This is where I try to capture
                        someone's
                        attention.</p>
                </div>
            </div>
            <div class="blog_post third_post">
                <div class="blog_post_photo">
                    <img src="../static/img/python_logo.jpg" alt="Python Logo">
                </div>
                <div class="title_and_description">
                    <h1>Generic Python Title</h1>
                    <p>A general summary of my learning article about python. This is where I try to capture
                        someone's
                        attention.</p>
                </div>
            </div>
        </div>



    </section>

    </div>
</body>

</html>