<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/Grid.css" />
    <script src="../static/js/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK|Open+Sans|Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300|Lato:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>

<body>
    <div class="header">
        <img src="../static/img/mikayla.png" alt="logo">
    </div>
    <div class="nav_bar" id="my_nav_bar">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <div class="fa fa-bars nav-bar-menu-icon"></div>
        </a>
        <a class="nav_bar-link" href="index.html">Home</a>
        <a class="nav_bar-link" href="topics.html">Learning Topics</a>
        <a class="nav_bar-link" href="projects.html">Side Projects</a>
        <a class="nav_bar-link" href="about.html">About Me</a>
    </div>
    <section class="learning_topics">
            <div class="topics-divider"></div>

        <div class="blog_post first_post">
            <div class="blog_post_photo">
                <img src="../static/img/kitkat.jpg" alt="Python Logo">
            </div>
            <div class="title_and_description">
                <h1>The Making of this Website</h1>
                <p>A basic walkthrough of how I went about making my first real website. Including the ups, the
                    downs, my mistakes, and my growth. Beginning with HTML and CSS to come up with my orginial
                    website design, that developed into the Python Flask app that you're experiencing now! If you
                    are new to web development, take a look at the mistakes I made and save yourself some time and
                    trouble!</p>
                <a class="read-more-button" href="#story_page">Read More</a>
            </div>
        </div>
        <div class="topics-divider"></div>
        <div class="blog_post second_post">
            <div class="blog_post_photo">
                <img src="../static/img/python_logo.jpg" alt="Python Logo">
            </div>
            <div class="title_and_description">
                <h1>Generic Python Title</h1>
                <p>A general summary of my learning article about python. This is where I try to capture
                    someone's
                    attention.</p>
            </div>
        </div>
        <div class="topics-divider"></div>

        <div class="blog_post third_post">
            <div class="blog_post_photo">
                <img src="../static/img/python_logo.jpg" alt="Python Logo">
            </div>
            <div class="title_and_description">
                <h1>Generic Python Title</h1>
                <p>A general summary of my learning article about python. This is where I try to capture
                    someone's
                    attention.</p>
            </div>
        </div>
        <div class="topics-divider"></div>




    </section>

    </div>
</body>

</html>